<img class="profile-img-large bimg" src="/assets/images/profile.jpeg">
<div class="small mono center" style="margin-top: 1rem;">
  <div style="font-size: 1.1rem; color: #ececec;"><strong>Volodymyr Havrylov</strong></div>
  <div style="margin-top: 5px; color: #f2a365;">ML Engineer</div>
  <div style="margin-top: 15px; font-size: 0.8rem;">
    <a href="mailto:volodymyr.havrylov01@gmail.com" class="noline" target="_blank" rel="noopener noreferrer">[email]</a><br>
    <a href="https://github.com/havrylovv" class="noline" target="_blank" rel="noopener noreferrer">[github]</a><br>
    <a href="#" class="noline" target="_blank" rel="noopener noreferrer">[scholar]</a>
  </div>
</div>
